OGN_DATABASE_URL=sqlite:///data/live/ogn_live.db
OGN_APRS_USER=N0CALL
OGN_APRS_FILTER=r/46.8/8.2/250
OGN_APRS_SERVER_HOST=aprs.glidernet.org
OGN_COMMIT_EVERY=100
OGN_SQLITE_TIMEOUT_SECONDS=120
OGN_COLLECTION_PROFILE=all
OGN_MAX_ALTITUDE_M=6000
OGN_MAX_SPEED_KMH=300
OGN_API_OBSERVATION_LIMIT=500
OGN_COLLECT_ON_STARTUP=true
OGN_HOST=127.0.0.1
OGN_PORT=8000
